* { 
    margin: 0;
    padding: 0; 
}

.container {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    min-width: 300px;
    display: grid;
    grid-template: 182px 35px 1fr 80px/ 220px 1fr;
    grid-template-areas: "header header"
                        "nav nav"
                        "aside content"
                        "footer footer";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.headerItem-1 {
    display: flex;
    justify-content: space-between;
}

.headerItem-1 img {
    height: 37px;
    width: 150px;
    margin: 24px 0 13px 25px;
}

.menu {
    display: flex;
    font-size: 11px;
    margin-top: 34px;
}

.menu div::after {
    content: '|';
    font-weight: bold;
    margin: 0 7px;
}

.menu div:last-child::after {
    content: ' ';
    margin: 0px;
}

.menu a {
    color: #1f4f6d;
}

.menu a:hover, .way a:hover, .smallNav a:hover {
    text-decoration: none;
}

.headerItem-2 {
    border-top: 3px solid #a3bed4;
    display: block; 
}

.headerItem-2 img {
    height: 100%;
    width: 100%;
}

.slogan {
    font-family: "Myriad Pro", sans-serif;
    font-style: italic;  
    position: absolute;
    margin: 35px 120px;
    font-size: 30px;
    color: white;  
}

.nav {
    grid-area: nav;
    background: linear-gradient(#eff0f8,  #a3a4ce);
    padding-left: 220px;
    display: flex;
    align-items: center;   
}

.navItem {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 9px 11px;
    margin-right: 5px;
    margin-left: 1px;
    font-size: 14px;
}

.navItem:hover{
    color:white;
    background: linear-gradient(#bbdce9,  #236b96);
}

.navDown-content {
    display:none;
    position: absolute;
    margin-top: 8px;
}

.navDown:hover .navDown-content {
    display: block;
}

.navDown-content a {
    text-decoration: none;
    display: block;
    background: #a0cfe1;
    color:#1d587a;
    font-size: 11px;
    margin-left: 1px;
    padding: 5px;
    font-family: Tahoma, serif;
}

.navDown-content a:hover {
    background:#236b96;
    color: #fff;
}

.aside {
    grid-area: aside;
    background-color: #e7e7f0;
}

ul {
    margin-top: 10px;
}

li {
    background: url(./img/marker1.png) no-repeat left;
    list-style-type: none;
    margin-left: 1px;
    padding-left: 39px;
    font-size: 12px;
    margin-top: 4px;   
}

li:hover{
    background: url(./img/marker2.png) no-repeat left;
}

.asideName {
    background-color: #7472b3;
    color: #fff;
    padding: 4px 20px 5px 22px;
    font-size: 18px;
    font-family: Arial Narrow, sans-serif;   
}

.content {
    grid-area: content;
    margin: 11px 30px;
}

.way {
    display: flex;
    font-size: 11px;
}

.way div::after {
    content: '>';
    margin: 0 5px;
    color:  #3799d6;
    font-weight: bold;
}

.way div:last-child::after, .smallNav div:last-child::after {
    content: " ";
}

.way a {
    color: #22597a;
    font-family: Tahoma, serif;
    margin-right: 2px; 
}

.profiles {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 12px;
    font-family: Verdana, sample, serif;
    display: flex;
    flex-direction: column;
    max-width: 670px;
    padding-bottom: 13px;
}

.profileItem{
    margin-bottom: 12px;
}

.profileItem img {
    height: 180px;
    width: 150px;
    float: left;
    padding-right: 25px; 

}
.name {
    font-family: Tahoma, serif;
    font-size: 17px;
    color: #5664a7;
    margin: 13px 0;    
}

br {
    display: block;
    content: "";
    margin-top: 12px;
}

.smallNav {
    margin-top: 12px;
    margin-bottom: 7px;
    display: flex; 
}

.smallNav a {
    color: #1e4f6d;
    font-size: 11px;
    font-family: Tahoma, serif;
    padding: 0 5px;
}

.smallNav div::after{
    content: '|';
    margin: 0 8px;
    font-size: 12px;
    font-weight: bold;
    color: #1e4f6d;

}

.footer {
    grid-area: footer;
    background-color: #7472b3;
    display: flex;
    justify-content: space-between;
}

.contacts {
    margin: 22px 30px;
    line-height: 14px;
    color:white;
    font-size: 11px;
    font-family: Tahoma, serif;
}

.logo img {
    height: 33px;
    width: 130px;
    margin: 28px 25px;   
}

a {
    font-family: Arial Narrow, sans-serif;
    color: #000;
}

h4 {
    font-family: "Myriad Pro", sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #1f5e8d;
    font-weight: normal;
    font-size: 18px;
}